<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Respuesta Creación Odontólogo</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1 class="mt-5">Respuesta Creación Odontólogo</h1>
        <p th:text="${mensaje}" class="lead"></p>
        <a href="/odontologo/new_frontend" class="btn btn-primary">Volver al Formulario</a>
    </div>
</body>
</html>

